/* ------------------------------------------320px-------------------------------------- */
/* ------------------------------------------320px-------------------------------------- */
/* ---------------GLOBAL------------ */
/* ---------------GLOBAL------------ */
@import url(./fonts.css);
.content {
    font-family: TT Lakes, sans-serif;
    background-color: #F8F8F8;
    color: #1B1C21;
    height: 100vh;
}
.container {
    max-width: 760px;
    padding: 0 16px;
}
.title {
    font-family: TT Lakes;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.title__highlight {
    position: relative;
}
.title__highlight::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: -16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
/* ---------------HEADER------------ */
/* ---------------HEADER------------ */
.header-inner {
    display: flex;
    background-color: white;
    padding: 0 28vw;
    margin: 0 -30vw;
    height: 88px;
}

.header-inner__burger {
    width: 40px;
    height: 40px;
    margin: auto;
    background: url("../images/burger.svg") no-repeat;
}
.header-inner__logo {
    display: inline-block;
    width: 97px;
    height: 51px;
    background: url("../images/cps-logo.svg") no-repeat;
    margin: auto;
}
.header-inner__logo::after {
    content: " ";
    position: absolute;
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    left: 59vw;
    top: 6vh;
}
.header-inner__tools {
    width: 40px;
    height: 40px;
    background: url("../images/tools.svg") no-repeat;
    margin: auto;
}
.header-inner__search {
    width: 40px;
    height: 40px;
    background: url("../images/search.svg") no-repeat;
    margin: auto;
}
.header-inner__tel {
    display: none;
}
.header-inner__text {
    display: none;
}
.header-inner__chat {
    display: none;
}
.header-inner__profile {
    display: none;
}

/* ---------------MAIN------------ */
/* ---------------MAIN------------ */
.heading-box {
    display: flex;
}
.heading-box__tools {
    display: none;
}
.heading-box__search {
    display: none;
}

.service-list {
    display: flex;
    overflow-x: scroll;
    max-width: 700px;
    height: 64px;
    padding-top: 24px;
}
.service-list::-webkit-scrollbar { display: none; }
.service-list__item {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    color: #7E7E82;
    width: auto;
    height: 40px;
    padding: 7px 21px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.service-list__item--active {
    flex: none;
    border: 0.5px solid #B8FFEC;
    border-radius: 8px;
}

.about-us {
    display: flex;
    flex-direction: column;
}
.about-us__paragraph {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 24px;
}
.about-us__paragraph--second {
    display: none;
}
.about-us__anchor {
    position: relative;
    display: flex;
    width: auto;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.blue-arrows {
    width: 9px;
    padding-left: 5px;
    padding-right: 30px;
}

.about-us__photo {
    width: 320px;
    height: 176px;
    
    margin-top: 16px;
    margin-left: -8px;
}
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------290-------------------------------------- */
@media (width <= 290px) {
    .header-inner__logo::after {
        display: none;
    }
}
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------768-------------------------------------- */
@media (width >= 768px) {
    .container {
        max-width: 1000px;
        padding: 0 25px;
    }
    /* ---------------------------- */
    .header-inner {
        background-color: white;
        padding: 0 25vw;
        margin: 0 -30vw;
    }
    
    .header-inner__burger {
        position: relative;
    }
    .header-inner__burger::after {
        content: " ";
        position: absolute;
        background: #EAEAEA;
        width: 2px;
        height: 32px;
        left: 10vw;
        top: 1vh;
    }
    .header-inner__logo::after {
        display: none;
    }
    .header-inner__tel {
        display: block;
        width: 40px;
        height: 40px;
        margin: auto 20px;
        background: url("../images/tel.svg") no-repeat;
    }
    .header-inner__chat {
        display: block;
        width: 40px;
        height: 40px;
        margin: auto 20px;
        background: url("../images/chat.svg") no-repeat;
    }
    .header-inner__profile {
        display: block;
        width: 40px;
        height: 40px;
        margin: auto 20px;
        background: url("../images/profile.svg") no-repeat;
    }
    /* -------------------------------- */
    .heading-box__img {
        margin-left: -24px;
        margin-right: 20px;
    }
    .service-list {
        min-width: 1000px;
    }
    
    .about-us__paragraph--second {
        display: block;
    }
    .about-us__span {
        display: none;
    }
    .about-us {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .about-us__paragraph {
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        max-width: 319px;
        height: 160px;
        margin-top: 32px;
        margin-right: 48px;
    }
    .about-us__photo {
        max-width: 320px;
        height: 208px;
        margin-top: 3%;
        margin-left: auto;
        border-radius: 5px;
    }
}

/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------1120-------------------------------------- */
@media (width >= 1120px) {
    .container {
        max-width: 950px;
        padding: 0px auto;
    }
    /* ------------------------- */
    .header-inner {
        display: none;
    }
    
    /* ---------------------------------- */
    .title {
        padding-top: 10px;
        padding-right: 22vw;
    }
    .heading-box__tools {
        padding-top: 10px;
        margin-top: 10px;
        margin-right: 80px;
        position: relative;
        display: flex;
        width: auto;
        height: 52px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;

    }
    .heading-box__tools::after {
        position: absolute;
        content: " ";
        width: 40px;
        height: 40px;
        background: url("../images/tools.svg") no-repeat;
        top: 4px;
        left: 130px;
    }
    .heading-box__search {
        padding-top: 10px;
        margin-top: 10px;
        position: relative;
        display: flex;
        width: auto;
        height: 52px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    .heading-box__search::after {
        position: absolute;
        content: " ";
        width: 40px;
        height: 40px;
        background: url("../images/tools.svg") no-repeat;
        top: 4px;
        left: 130px;
    }
    .service-list {
        max-width: 1063px;
        height: 82px;
        overflow-x: visible;
        flex-wrap:wrap;
    }
    .about-us__paragraph {
        max-width: 500px;
        height: 160px;
        margin:0;
    }
    .about-us__paragraph--first {
        margin-bottom: 30px;
    }
    .about-us__paragraph--second span {
        display: inline;
    }
    .about-us__photo {
        margin: 0;
        margin-left: 36px;
        width: 532px;
        height: 187px;
    }
}
