/* ------------------------------------------320px-------------------------------------- */
/* ------------------------------------------320px-------------------------------------- */
/* ---------------GLOBAL------------ */
/* ---------------GLOBAL------------ */


@import url(./.fonts.css);
html, body {
    font-family: TT Lakes, sans-serif;
    background-color: #F8F8F8;
    color: #1B1C21;
    width: 320px;
    margin: 0;
    padding: 0;
}
.container {
    width: 288px;
    margin: 0 16px 0 16px;
}
h1 {
    font-family: TT Lakes;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}
main {
    margin-top: 24px;
}
/* ---------------HEADER------------ */
/* ---------------HEADER------------ */
.header-inner {
    display: flex;
    background-color: white;
    margin: 0 -16px 0 -16px;
}

.header-inner__burger {
    padding: 24px 16.73px 24px 16px;
}
.header-inner__logo {
    padding: 18.59px 16.73px 18.59px 0px;
}
.header-inner__tel {
    display: none;
}
.header-inner__chat {
    display: none;
}
.header-inner__profile {
    display: none;
}
.header-image__divider320 {
    padding: 28px 20px 28px 0;
}
.header-image__divider768 {
    display: none;
    padding: 28px 20px 28px 0;
}
.header-inner__tools {
    padding: 24px 16px 24px 20px;
}
.header-inner__text {
    display: none;
}
.header-inner__tools1120 {
    display: none;
}
.header-inner__search1120 {
    display: none;
}
.header-inner__search {
    padding: 24px 0 24px 0;
}
/* ---------------MAIN------------ */
/* ---------------MAIN------------ */
.heading-box {
    display: flex;
}
.heading-box__img {
    margin-left: -16px;
    margin-right: 12px;
}

.service-list {
    display: flex;
    width: 288px;
    overflow-x: scroll;
    margin-top: 24px;
}
.service-list::-webkit-scrollbar { display: none; }
.service-list__item {
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.service-list__item--1 {
    flex: none;
    box-sizing: content-box;
    width: 188.66px;
    height: 24px;
    padding: 8.63px 21.7px 7.37px 22.64px;
    border: 0.5px solid #B8FFEC;
    border-radius: 8px;
}
.service-list__item--2 {
    flex: none;
    box-sizing: content-box;
    width: 219.85px;
    height: 24px;
    padding: 8.63px 15.15px 7.37px 19px;
}
.service-list__item--3 {
    flex: none;
    box-sizing: content-box;
    width: 118px;
    height: 39px;
    padding: 9px 15px 0 19px;
}
.service-list__item--4 {
    flex: none;
    box-sizing: content-box;
    width: 217px;
    height: 24px;
    padding: 9px 4px 5px 12px;
}
.service-list__item--5 {
    flex: none;
    box-sizing: content-box;
    width: 221px;
    height: 24px;
    padding: 9px 22px;
}

.about-us {
}
.about-us__paragraph {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-top: 24px;
}
.about-us__paragraph--2 {
    display: none;
}
.about-us__paragraph--btn {
    margin-top: 16px;
    display: flex;
    width: 132px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.about-us__btn img {
    margin-right: 8px;
}
.about-us__photo {
    width: 320px;
    height: 176px;
    margin-top: 16px;
    margin-left: -16px;
}

/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------768-------------------------------------- */
@media (width >= 768px) {
    html, body {
        width: 768px;
    }
    h1 {
        font-size: 32px;
    }
    .container {
        width: 736px;
        margin: 0 24px 0 24px;
    }
    /* ---------------------------- */
    .header-inner {
        background-color: white;
        margin: 0 -24px 0 -24px;
    }
    .header-inner__burger {
        padding: 24px 20px 24px 24px;
    }

    .header-image__divider320 {
        display: none;
    }
    .header-image__divider768 {
        display: block;
        padding: 0;
    }
    .header-inner__logo {
        padding: 18.59px 16.73px 18.59px 20px;
    }

    .header-inner__tel {
        display: block;
        padding: 24px 16px 24px 250.73px;
    }
    .header-inner__chat {
        display: block;
        padding: 24px 16px 24px 0;
    }
    .header-inner__profile {
        display: block;
        padding: 24px 20px 24px 0;
    }
    .header-inner__tools {
        padding-left: 20px;
    }
    /* -------------------------------- */
    .heading-box__img {
        margin-left: -24px;
        margin-right: 20px;
    }
    
    .service-list {
        width: 728px;
        margin-top: 32px;
    }
    .service-list__item--1 {
        width: 221.95px;
        padding: 8px 9.38px 8px 16.67px;
    }

    .about-us__paragraph--2 {
        display: block;
    }
    .about-us__paragraph--2 span {
        display: none;
    }
    .about-us {
        display: flex;
    }
    .about-us__paragraph {
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        width: 319px;
        height: 160px;
        margin-top: 32px;
        margin-right: 48px;
    }
    .about-us__photo {
        width: 360px;
        height: 208px;
        margin: 0;
        margin-top: 32px;
        border-radius: 5px;
    }
}

/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------1120-------------------------------------- */
@media (width >= 1120px) {
    html, body {
        width: 1120px;
    }
    h1 {
        font-size: 32px;
    }
    .container {
        width: 1060px;
        margin: 0 24px 0 24px;
    }
    /* ------------------------- */
    .header-inner {
        display: none;
    }
    .header-inner {
    }
    .header-inner__burger {
        display: none;
    }
    .header-image__divider768 {
        display: none;
    }
    .header-inner__logo {
        display: none;
    }
    .header-inner__tel {
        display: none;
    }
    .header-inner__chat {
        display: none;
    }
    .header-inner__profile {
        display: none;
    }
    .header-inner__tools {
        display: none;
    }
    .header-inner__search {
        display: none;
    }
    .header-inner__tools1120 {
        display: block;
    }
    .header-inner__search1120 {
        display: block;
    }
    .heading-box {
        margin-top: 42px;
    }
    .header-inner__tools1120 {
        display: flex;
        margin-left: 450px;
    }
    .header-inner__search1120 {
        display: flex;
    }
    .header-inner__tools1120 p {
        padding: 9px 9px 9px 0;
    }
    .header-inner__tools1120 img {
        margin-right: 32px;
    }
    .header-inner__search1120 p {
        padding: 9px 9px 9px 0;
    }

    /* ---------------------------------- */
    .service-list {
        width: 1063px;
    }
    .about-us__paragraph {
        width: 510px;
        height: 160px;
    }
    .about-us__paragraph--1 {
        margin-bottom: 30px;
    }
    .about-us__paragraph--2 span {
        display: inline;
    }
    .about-us__paragraph {
        margin-right: 36px;
    }
    .about-us__photo {
        width: 532px;
        height: 307px;
    }
    .about-us__paragraph--btn {
        margin-top: 13.78px;
    }
}
